$dark-0: rgba(0, 0, 0, 1);
$dark-100:rgba(34, 34, 34, 1);
$dark-70: rgba(34, 34, 34, 0.7);
$dark-50: rgba(34, 34, 34, 0.5);
$light-gray: rgba(181, 181, 181, 1);
$gray: rgba(196, 196, 196, 1);
$white: rgba(255, 255, 255, 1);
$footer-backgound: #494949;
$orange:  #FC706E;
$purple: #8C0BFF;



