div.gallery
  div.gallery__img-wrapper
    img.gallery__img(src="./img/gallery_section1.png", alt="img1")
  div.gallery__img-wrapper
    img.gallery__img(src="./img/gallery_section2.png", alt="img2")
  div.gallery__img-wrapper
    img.gallery__img(src="./img/gallery_section3.png", alt="img3")
  div.gallery__img-wrapper
    img.gallery__img(src="./img/gallery_section4.png", alt="img4")
  div.gallery__img-wrapper
    img.gallery__img(src="./img/gallery_section5.png", alt="img5")
  div.gallery__img-wrapper
    img.gallery__img(src="./img/gallery_section6.png", alt="img6")
