@import url("https://unpkg.com/plyr@3/dist/plyr.css");
@import '../../pages/common-variables.scss';

.video .plyr__control, 
.video .plyr__control--overlaid, 
.video .plyr__tab-focus,
.video .plyr--video,
.video .plyr__control.plyr__tab-focus {
  background: $white !important;
  color: $purple !important;
  box-shadow: none;
  border-radius: 0;
}

.video button.plyr__control.plyr__control--overlaid {
  border: 9px solid $white;
}
        
.video .plyr__control:hover {
  background: $white !important;
  color: $purple !important;
  box-shadow: none;
  border-radius: 0;
}
    
.video button.plyr__control svg:before {
  background: rgba(100, 10, 10, 0.7);
  width: 10px;
  height: 10px; 
  margin: 0 auto;
}

@media (min-width: 992px) {
  .video .plyr__video-wrapper, 
  .video .plyr video {
    height: 310px;
  }
}

