include ../../comment/comment.pug
-
  const commentVideo = {
    text:""};
    
div.video-section   
  div.video-section__heading — Видео с фотосессий
  h2.video-section__comment Я люблю людей, которых фотографирую. Я имею в виду, что они мои друзья, через свои фотографии я живу с ними
  div.video-section__video-slider
    include ../../video_slider/video_slider.pug